<section class="container pure-g">
	<article class="content pure-u-1 pure-u-l1-1-2 pure-u-x1-1-3">
		<div id="highlighted" class="block template pure-u-11-12">loading highlighted decks..</div>
	</article>
	<article class="content pure-u-1 pure-u-l1-1-2 pure-u-x1-1-3">
		<div id="latest" class="block template pure-u-11-12">loading latest decks..</div>
	</article>
</section>
<script type="text/javascript">
$(function(){
	$(".template").each(function(i){
		var template = $(this);
		var category = $(this).attr("id");
		var url = "@routes.DeckController.decks("")"+category;
		var method = "get";
		var result = ajax(url, method, {});
		result.done(function(data) {
			template.html(data);
		});
		result.fail(function(jqXHR, textStatus) {
			template.html("Error loading "+category+"..");
		});
	});	
});
</script>