@CHARSET "UTF-8";

.alert {
	border-radius: 4px;
	display: block;
	margin: .5em auto;
	padding: 0.6em;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #fff;
	background-color: #f0f0f0;
	color: #000;
}

.alert-success {
	border: 1px solid #52be4c;
	background-color: #7ed77a;
	color: #086d03;
}
.alert-info {
	border: 1px solid #3e7d92;
	background-color: #669eb0;
	color: #054054;
}
.alert-warning {
	border: 1px solid #edb951;
	background-color: #ffd47f;
	color: #8b5c00;
}
.alert-danger {
	border: 1px solid #ea5e5e;
	background-color: #ff9090;
	color: #860404;
}
#alert-template {
	display: none;
}