.header {
	width: 100%;
	background-image: url("/assets/images/header-192.png");
	background-position: top;
	padding: .5em 0;
}
.logo a {
	display: block;
	width: 155px;
	padding: 1em 0;
	margin: auto;
}
.menu {
	margin: auto;
}
.menu-item {
	margin: .4em 0;
}
.menu-item > a {
	margin: 0 auto;
	width: calc(100% - 1em);
	display: block;
	padding: .5em 0;
}
.menu-hide {
	display: none;
}
.side-item {
	float: right;
}
.login-field {
	display: block !important;
	margin: 0 auto;
	width: 90%;
}
.login-button,
.register-button {
	display: block;
}
.login-button {
	background-color: rgba(5,194,0,0.95);
}
.register-button {
	background-color: rgba(255,145,0,0.95);
}
@media only screen and (min-width: 90em) { /* 1440 */
}
@media only screen and (min-width: 80em) { /* 1280 */
}
@media only screen and (min-width: 64em) { /* 1024 */
}
@media only screen and (min-width: 60em) { /* 960 */
}
@media only screen and (min-width: 48em) { /* 768 */
	.menu-hide {
		display: inline-block;
	}
}
@media only screen and (min-width: 40em) { /* 640 */
}
@media only screen and (min-width: 35.5em) { /* 568 */
	.logo a {
		margin: 0 auto 0 0;
	}
}
@media only screen and (min-width: 30em) { /* 480 */
}
