@CHARSET "UTF-8";

body {
	font-family: Helvetica, Verdana, sansserif;
	background-color: #ece9cd;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.content {
	margin: .5em 0;
}
.block {
	min-height: 5em;
	margin: auto;
	display: block;
	padding: .5em;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 2px 4px #ddd;
	background-color: #f8f6e4;
}
.btn {
	color: #000;
	border-radius: 4px;
	background-color: rgba(240,240,240,0.95);
	text-transform: lowercase;
	font-weight: bold;
	font-size: 90%;
}
.btn-call {
	background-color: rgba(126,231,229,0.95);
}
.btn-secondary {
	background-color: rgba(255,145,0,0.95);/* #e7bf7e; */
}
.dropdown-mix {
	border-radius:  4px 4px 0 0;
	background-color: rgba(115,212,210,0.95);
}
.dropdown-content {
	border-radius: 0 0 4px 4px;
	background-color: rgba(174,233,232,0.95);
	text-transform: lowercase;
	font-size: 95%;
	width: calc(100% - 1em);
	margin: 0 auto;
}
.dropdown-hidden {
	display: none;
}
.padded {
	padding: 0.5em;
}
@media only screen and (min-width: 90em) { /* 1440 */
}
@media only screen and (min-width: 80em) { /* 1280 */
}
@media only screen and (min-width: 64em) { /* 1024 */
}
@media only screen and (min-width: 60em) { /* 960 */
}
@media only screen and (min-width: 48em) { /* 768 */
	.menu-hide {
		display: inline-block;
	}
}
@media only screen and (min-width: 40em) { /* 640 */
}
@media only screen and (min-width: 35.5em) { /* 568 */
	.logo a {
		margin: 0 auto 0 0;
	}
}
@media only screen and (min-width: 30em) { /* 480 */
	.dropdown-content {
		border-radius: 4px 0 4px 4px;
		width: calc(200% - 1em);
		margin-right: .5em;
		float: right;
	}
}