@CHARSET "UTF-8";

body {
	font-family: Helvetica, Verdana, sansserif;
	background-color: #ece9cd;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.btn {
	color: #000;
	border-radius: 4px;
	background: #f0f0f0;
	opacity: 0.9;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 90%;
}
.btn-call {
	background-color: #7ee7e5;
}
.btn-secondary {
	background-color: #e7bf7e;
}
.dropdown-mix {
	border-radius:  4px 4px 0 0;
	background-color: #73d4d2;
}
.dropdown-content {
	border-radius: 0 0 4px 4px;
	background-color: #88faf8;
	opacity: 0.9;
	text-transform: lowercase;
	font-size: 90%;
	width: calc(100% - 1em);
	margin: 0 auto;
}
.dropdown-hidden {
	display: none;
}

@media only screen and (min-width: 90em) { /* 1440 */
}
@media only screen and (min-width: 80em) { /* 1280 */
}
@media only screen and (min-width: 64em) { /* 1024 */
}
@media only screen and (min-width: 60em) { /* 960 */
}
@media only screen and (min-width: 48em) { /* 768 */
	.menu-hide {
		display: inline-block;
	}
}
@media only screen and (min-width: 40em) { /* 640 */
}
@media only screen and (min-width: 35.5em) { /* 568 */
	.logo a {
		margin: 0 auto 0 0;
	}
}
@media only screen and (min-width: 30em) { /* 480 */
	.dropdown-content {
		border-radius: 4px 0 4px 4px;
		width: calc(200% - 1em);
		margin-right: .5em;
		float: right;
	}
}