@CHARSET "UTF-8";

body {
	font-family: Helvetica, Verdana, sansserif;
	background-color: #000;
}

.btn {
	border-radius: 4px;
	background-color: rgb(200, 200, 255);
	border-color: rgb(140, 140, 255);
	min-width: 7em;
}
.hidden{
	display:none;
}

.text-field {
	border-radius: 4px;
	width: 7em;
}

section {
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.3);
	display: block;
	padding: 0.5em;
}

.content {
	width: 90%;
	margin: 1em auto;
}

p, th, td {
	color: white;
	min-width: 3em;
}
th {
	text-transform:bold;
}
td {
	padding: 0 1em;
}