.btn-modal-close {
	position: relative;
	top: 0px;
	right: 0px;
	color: rgba(155, 155, 155, 0.95);
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	padding: .5em;
	border-radius: 6px;
}
.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.modal-container {
	position: relative;
	height: 95%;
}
.modal-block {
	background-color: rgb(240,240,240);
}
.modal-showing {
	overflow: hidden;
	position: fixed;
}
