<li class="menu-item pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="#">featured</a>
</li><!-- 
 --><li class="menu-item pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="#">random</a>
</li><!-- 
 --><li class="menu-item pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="@routes.CardController.searchForm()">cards</a>
</li><!-- 
 --><li class="menu-item pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="@routes.DeckController.searchForm()">decks</a>
</li><!-- 
 --><li class="menu-item pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="#">extra 1</a>
</li><!-- 
 --><li class="menu-item pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="#">extra 2</a>
</li><!-- 
 --><li class="menu-item menu-hide pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="#">extra 3</a>
</li><!-- 
 --><li class="menu-item menu-hide pure-u-1-3 pure-u-s1-1-4 pure-u-m2-1-6 pure-u-l1-1-8 pure-u-x1-1-12">
	<a class="pure-button btn" href="#">extra 4</a>
</li>