*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid:before, .grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid-gut,
.grid-gut > .col:last-of-type {
	padding: 1%;
}
.col {
  border: 1px solid #000;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  display: inline-block;
}
.col:first-child {
	padding-left: 0;
}
.col:last-of-type  {
  padding-right: 0;
}