@CHARSET "UTF-8";

.header {
	width: 100%;
	height: auto;
	background-image: url("/assets/images/header.png");
	background-position: center;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.header-logo {
	margin: 1em;
	height: 3.5em;
	float: left;
}

.menu {
	margin: 1em;
	height: 3.5em;
	display: inline-block;
}

.menu-section {
	display: inline-block;
	position: relative;
	top: 25%;
	height: 50%;
	text-align: right;
}

.menu-item {
	padding: 0.3em;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.8);
	border-radius: 4px;
	display: inline-block;
}
.tooltip-menu-item {
	padding: 0.3em;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.8);
	border-radius: 4px;
	display: inline-block;
}

.menu-item.tooltips {
  position: relative;
  display: inline-block;
}
.menu-item.tooltips span {
  position: absolute;
  color: #000;
  background: rgba(255,255,255,0.8);
  border: 1px solid #fff;
  line-height: 1.2em;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
}
.menu-item.tooltips span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid fff;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.menu-item.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid #fff;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.menu-item:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}