.main-container {
	font-family: Helvetica, Verdana, sansserif;
	margin-top:8em;
}

.main-logo {
	margin: 1em;
}

.nav .menu {
	margin-top: 0.7em;
	display: inline-block;
	font-size: 1.2em;
}

.arrow-down {
	position: relative;
	top: 15px;
	right: -6px;
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
	border-top: 0.7em solid #adadad;
}