@CHARSET "UTF-8";

body {
	font-family: Helvetica, Verdana, sansserif;
	background-color: #444;
}

.btn {
	border-radius: 4px;
	background-color: rgb(200,200,255);
	border-color: rgb(140,140,255);
	width: 7em;
}

.text-field {
	border-radius: 4px;
	width: 7em;
}
