<nav class="nav pull-right">
	<form action="@routes.UserController.login()" method="post">
		<ul class="navbar-nav">
			<li class="menu">
				<a href="@routes.UserController.signUpLink()">Sign Up</a>
			</li>
			<li class="menu">
				<input class="form-control"  name="login" type="text" placeholder="login">
			</li>
			<li class="menu">
				<input class="form-control" name="password" type="password" placeholder="password">
			</li>
			<li class="menu">
				<input class="btn btn-warning" type="submit" value="LOGIN">
			</li>
		</ul>
	</form>
</nav>