<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pure/forms-min.css")">
<a class="menu-link pure-button btn btn-call dropdown-toggle" href="#">enter</a>
<form class="pure-form dropdown-content dropdown-hidden" action="@routes.UserController.login" method="@routes.UserController.login.method">
	<input type="hidden" name="fromLogin" value="true">
	<ul>
		<li class="menu-item pure-u-1-2 pure-u-s1-1-4">
			<input class="login-field" type="text" name="login" placeholder="login" autofocus="true">
		</li><!-- 
		 --><li class="menu-item pure-u-1-2 pure-u-s1-1-4">
			<input class="login-field" type="password" name="password" placeholder="password">
		</li><!-- 
		 --><li class="menu-item pure-u-1-2 pure-u-s1-1-4">
			<a class="login-button pure-button btn" href="#" title="login">login</a>
		</li><!-- 
		 --><li class="menu-item pure-u-1-2 pure-u-s1-1-4">
			<a class="register-button pure-button btn" href="#" title="register">register</a>
		</li>
	</ul>
</form>
<script type="text/javascript">
$(".dropdown-toggle").on("click", function() {
	var toggler = $(this);
	var list = toggler.next();
	if (list.hasClass("dropdown-hidden")) {
		list.removeClass("dropdown-hidden");
		toggler.addClass("dropdown-mix");
	}
	else {
		list.addClass("dropdown-hidden");
		toggler.removeClass("dropdown-mix");
	}
});
$(".login-field").on("keypress", function(key) {
	if (key.which == 13) {
		var form = 	$(".dropdown-content")[0];
		form.submit();
	}
});
$(".login-button").on("click", function() {
	var form = 	$(".dropdown-content")[0];
	form.submit();
});
$(".register-button").on("click", function() {
	var form = 	$(".dropdown-content")[0];
	form.action = "@routes.UserController.signUp().url";
	form.method = "@routes.UserController.signUp().method";
	form.submit();
});
</script>