@(logUser:User, cards:List[magic.Card] = null, formCard:Form[magic.Card], colorMap:Map[String,Boolean])

@import formfields._

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cards.css")">

<section>
@if(logUser.getId != 0){
	<select id="select">
		@for(deck <- logUser.getDecks) {
		<option value="@deck.getId">@deck.getDescription</option>
		}
		<option value= "0" > New deck </option>		
	</select>
	
	@form(routes.DeckController.createDeck(),classes="hidden"){
		<input type="text" name="name" >
		@submit("create deck")
	}

	@form(routes.DeckController.addCard(),classes="addCard hidden"){
		<input type="hidden" name="deckId">
		<input type="hidden" name="cardId">
		<input type="hidden" name="quantity">
	}
}

@form(routes.CardController.search()) {
	<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
	@autocomplete(method="CardController.searchAutoComplete()")
	@text(formCard("suggestText"), placeholder="name", clazz="ui-state-default autocomplete")
	@text(formCard("type"), placeholder="type")
	@text(formCard("text"), placeholder="ability")
	@checkboxes(formCard("colors"), checkboxMap=colorMap)
	@submit("search")
}
</section>

<section>
@if(cards != null) {
	@if(cards.size > 0) {
		<table>
			<thead>
				<tr>
					<th></th>
					<th>name</th>
					<th>text</th>
					<th>cost</th>
				</tr>
			</thead>
			<tbody>
			@for((card, index) <- cards.zipWithIndex) {
				<tr class="card" id="card-@card.getMultiverseId">
					<td><img class="card-image" alt="" src="@cardImageSource(card)"></td>
					<td>@card.getSuggestText</td>
					<!-- <td>@Html(card.getText)</td> -->
					<td>@card.getRarity</td>	
					<td>@card.getManaCost</td>
				</tr>
			}
			</tbody>
		</table>
		
		<script type="text/javascript">
			$(".card").on("click", function() {
 				//var url = @routes.CardController.card("")+id;
 				//location.href = url;
				var number = prompt("How many?");
				var form = $(".addCard");
				$.ajax({
					url :"/add",
					type,
					contentType: "application/x-www-form-urlencoded",
					data: {
						deckId: $("option:selected").val ,
						cardId:  $(this).attr("id").split("-")[1],
						quantity:  number
					}
				});	
			});
			$("#select").on("change",function(){
				$(".hidden").removeClass("hidden");
			});
		</script>
	} else {
		<div class="clearfix"></div>
		<h4>No cards found with that name</h4>
	}
}
</section>
<script type="text/javascript">
	/* $("form").on("submit", function() {
		alert('the action is: ' + $(this).serialize());
	}); */
</script>