@(cards:List[magic.Card] = null, formCard:Form[magic.Card], colorMap:Map[String,Boolean])

@import formfields._

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cards.css")">

@form(routes.CardController.search()) {
	@text(formCard("suggestText"), placeholder="name")
	@text(formCard("type"), placeholder="type")
	@text(formCard("text"), placeholder="ability")
	@checkboxes(formCard("colors"), checkboxMap=colorMap)
	@submit("search")
}

@if(cards != null) {
	@if(cards.size > 0) {
		<table>
			<thead>
				<tr>
					<th></th>
					<th>name</th>
					<th>text</th>
					<th>cost</th>
				</tr>
			</thead>
			<tbody>
			@for((card, index) <- cards.zipWithIndex) {
				<tr class="card" id="card-@card.getMultiverseId">
					<td><img class="card-image" alt="" src="@cardImageSource(card)"></td>
					<td>@card.getSuggestText</td>
					<!-- <td>@Html(card.getText)</td> -->
					<td>@card.getRarity</td>	
					<td>@card.getManaCost</td>
				</tr>
			}
			</tbody>
		</table>
		
		<script type="text/javascript">
			$(".card").on("click", function() {
				var id = $(this).attr("id").split("-")[1];
				var url = @routes.CardController.card("")+id;
				location.href = url;
			});
			$("form").on("submit", function() {
				alert('the action is: ' + $(this).serialize());
			});
		</script>
	} else {
		<div class="clearfix"></div>
		<h4>No cards found with that name</h4>
	}
}
<script type="text/javascript">
	/* $("form").on("submit", function() {
		alert('the action is: ' + $(this).serialize());
	}); */
</script>