@(deck:Deck, showCards:Boolean=false)
@if(deck != null) {
<div>
	<h2 class="deck-name">@deck.getName</h2>
	<span class="deck-info">
		<a class="toggle" href><h3>Description</h3></a>
		<p class="toggle-content hidden">@deck.getDescription</p>
	</span>
	<span class="deck-info">
		<a class="toggle" href><h3>How to play</h3></a>
		<p class="toggle-content hidden">@deck.getHowToPlay</p>
	</span>
	@if(showCards){
	<ul>
		@for(card <- deck.getCards) {
		<li>@{card.getQuantity}x @card.getName</li>
		}
	</ul>
	}
</div>
}else{
	<p>deck not available</p>
}