.pure-u-s1-1,
.pure-u-s1-1-1,
.pure-u-s1-1-2,
.pure-u-s1-1-3,
.pure-u-s1-2-3,
.pure-u-s1-1-4,
.pure-u-s1-3-4,
.pure-u-s1-1-5,
.pure-u-s1-2-5,
.pure-u-s1-3-5,
.pure-u-s1-4-5,
.pure-u-s1-5-5,
.pure-u-s1-1-6,
.pure-u-s1-5-6,
.pure-u-s1-1-8,
.pure-u-s1-3-8,
.pure-u-s1-5-8,
.pure-u-s1-7-8,
.pure-u-s1-1-12,
.pure-u-s1-5-12,
.pure-u-s1-7-12,
.pure-u-s1-11-12,
.pure-u-s1-1-24,
.pure-u-s1-2-24,
.pure-u-s1-3-24,
.pure-u-s1-4-24,
.pure-u-s1-5-24,
.pure-u-s1-6-24,
.pure-u-s1-7-24,
.pure-u-s1-8-24,
.pure-u-s1-9-24,
.pure-u-s1-10-24,
.pure-u-s1-11-24,
.pure-u-s1-12-24,
.pure-u-s1-13-24,
.pure-u-s1-14-24,
.pure-u-s1-15-24,
.pure-u-s1-16-24,
.pure-u-s1-17-24,
.pure-u-s1-18-24,
.pure-u-s1-19-24,
.pure-u-s1-20-24,
.pure-u-s1-21-24,
.pure-u-s1-22-24,
.pure-u-s1-23-24,
.pure-u-s1-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-s1-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-s1-1-12,
.pure-u-s1-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-s1-1-8,
.pure-u-s1-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.pure-u-s1-1-6,
.pure-u-s1-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-s1-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-s1-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-s1-1-4,
.pure-u-s1-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-s1-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-s1-1-3,
.pure-u-s1-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-s1-3-8,
.pure-u-s1-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.pure-u-s1-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-s1-5-12,
.pure-u-s1-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-s1-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-s1-1-2,
.pure-u-s1-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-s1-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-s1-7-12,
.pure-u-s1-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-s1-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-s1-5-8,
.pure-u-s1-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.pure-u-s1-2-3,
.pure-u-s1-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-s1-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-s1-3-4,
.pure-u-s1-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-s1-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-s1-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-s1-5-6,
.pure-u-s1-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-s1-7-8,
.pure-u-s1-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.pure-u-s1-11-12,
.pure-u-s1-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-s1-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-s1-1-1,
.pure-u-s1-1,
.pure-u-s1-5-5,
.pure-u-s1-24-24 {
    width: 100%;
}

.pure-u-s2-1-1,
.pure-u-s2-1,
.pure-u-s2-1-2,
.pure-u-s2-1-3,
.pure-u-s2-2-3,
.pure-u-s2-1-4,
.pure-u-s2-3-4,
.pure-u-s2-1-5,
.pure-u-s2-2-5,
.pure-u-s2-3-5,
.pure-u-s2-4-5,
.pure-u-s2-5-5,
.pure-u-s2-1-6,
.pure-u-s2-5-6,
.pure-u-s2-1-8,
.pure-u-s2-3-8,
.pure-u-s2-5-8,
.pure-u-s2-7-8,
.pure-u-s2-1-12,
.pure-u-s2-5-12,
.pure-u-s2-7-12,
.pure-u-s2-11-12,
.pure-u-s2-1-24,
.pure-u-s2-2-24,
.pure-u-s2-3-24,
.pure-u-s2-4-24,
.pure-u-s2-5-24,
.pure-u-s2-6-24,
.pure-u-s2-7-24,
.pure-u-s2-8-24,
.pure-u-s2-9-24,
.pure-u-s2-10-24,
.pure-u-s2-11-24,
.pure-u-s2-12-24,
.pure-u-s2-13-24,
.pure-u-s2-14-24,
.pure-u-s2-15-24,
.pure-u-s2-16-24,
.pure-u-s2-17-24,
.pure-u-s2-18-24,
.pure-u-s2-19-24,
.pure-u-s2-20-24,
.pure-u-s2-21-24,
.pure-u-s2-22-24,
.pure-u-s2-23-24,
.pure-u-s2-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-s2-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-s2-1-12,
.pure-u-s2-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-s2-1-8,
.pure-u-s2-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.pure-u-s2-1-6,
.pure-u-s2-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-s2-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-s2-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-s2-1-4,
.pure-u-s2-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-s2-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-s2-1-3,
.pure-u-s2-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-s2-3-8,
.pure-u-s2-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.pure-u-s2-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-s2-5-12,
.pure-u-s2-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-s2-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-s2-1-2,
.pure-u-s2-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-s2-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-s2-7-12,
.pure-u-s2-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-s2-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-s2-5-8,
.pure-u-s2-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.pure-u-s2-2-3,
.pure-u-s2-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-s2-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-s2-3-4,
.pure-u-s2-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-s2-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-s2-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-s2-5-6,
.pure-u-s2-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-s2-7-8,
.pure-u-s2-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.pure-u-s2-11-12,
.pure-u-s2-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-s2-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-s2-1-1,
.pure-u-s2-1,
.pure-u-s2-5-5,
.pure-u-s2-24-24 {
    width: 100%;
}

.pure-u-m1-1,
.pure-u-m1-1-1,
.pure-u-m1-1-2,
.pure-u-m1-1-3,
.pure-u-m1-2-3,
.pure-u-m1-1-4,
.pure-u-m1-3-4,
.pure-u-m1-1-5,
.pure-u-m1-2-5,
.pure-u-m1-3-5,
.pure-u-m1-4-5,
.pure-u-m1-5-5,
.pure-u-m1-1-6,
.pure-u-m1-5-6,
.pure-u-m1-1-8,
.pure-u-m1-3-8,
.pure-u-m1-5-8,
.pure-u-m1-7-8,
.pure-u-m1-1-12,
.pure-u-m1-5-12,
.pure-u-m1-7-12,
.pure-u-m1-11-12,
.pure-u-m1-1-24,
.pure-u-m1-2-24,
.pure-u-m1-3-24,
.pure-u-m1-4-24,
.pure-u-m1-5-24,
.pure-u-m1-6-24,
.pure-u-m1-7-24,
.pure-u-m1-8-24,
.pure-u-m1-9-24,
.pure-u-m1-10-24,
.pure-u-m1-11-24,
.pure-u-m1-12-24,
.pure-u-m1-13-24,
.pure-u-m1-14-24,
.pure-u-m1-15-24,
.pure-u-m1-16-24,
.pure-u-m1-17-24,
.pure-u-m1-18-24,
.pure-u-m1-19-24,
.pure-u-m1-20-24,
.pure-u-m1-21-24,
.pure-u-m1-22-24,
.pure-u-m1-23-24,
.pure-u-m1-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-m1-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-m1-1-12,
.pure-u-m1-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-m1-1-8,
.pure-u-m1-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.pure-u-m1-1-6,
.pure-u-m1-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-m1-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-m1-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-m1-1-4,
.pure-u-m1-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-m1-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-m1-1-3,
.pure-u-m1-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-m1-3-8,
.pure-u-m1-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.pure-u-m1-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-m1-5-12,
.pure-u-m1-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-m1-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-m1-1-2,
.pure-u-m1-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-m1-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-m1-7-12,
.pure-u-m1-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-m1-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-m1-5-8,
.pure-u-m1-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.pure-u-m1-2-3,
.pure-u-m1-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-m1-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-m1-3-4,
.pure-u-m1-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-m1-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-m1-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-m1-5-6,
.pure-u-m1-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-m1-7-8,
.pure-u-m1-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.pure-u-m1-11-12,
.pure-u-m1-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-m1-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-m1-1-1,
.pure-u-m1-1,
.pure-u-m1-5-5,
.pure-u-m1-24-24 {
    width: 100%;
}

.pure-u-m2-1-1,
.pure-u-m2-1,
.pure-u-m2-1-2,
.pure-u-m2-1-3,
.pure-u-m2-2-3,
.pure-u-m2-1-4,
.pure-u-m2-3-4,
.pure-u-m2-1-5,
.pure-u-m2-2-5,
.pure-u-m2-3-5,
.pure-u-m2-4-5,
.pure-u-m2-5-5,
.pure-u-m2-1-6,
.pure-u-m2-5-6,
.pure-u-m2-1-8,
.pure-u-m2-3-8,
.pure-u-m2-5-8,
.pure-u-m2-7-8,
.pure-u-m2-1-12,
.pure-u-m2-5-12,
.pure-u-m2-7-12,
.pure-u-m2-11-12,
.pure-u-m2-1-24,
.pure-u-m2-2-24,
.pure-u-m2-3-24,
.pure-u-m2-4-24,
.pure-u-m2-5-24,
.pure-u-m2-6-24,
.pure-u-m2-7-24,
.pure-u-m2-8-24,
.pure-u-m2-9-24,
.pure-u-m2-10-24,
.pure-u-m2-11-24,
.pure-u-m2-12-24,
.pure-u-m2-13-24,
.pure-u-m2-14-24,
.pure-u-m2-15-24,
.pure-u-m2-16-24,
.pure-u-m2-17-24,
.pure-u-m2-18-24,
.pure-u-m2-19-24,
.pure-u-m2-20-24,
.pure-u-m2-21-24,
.pure-u-m2-22-24,
.pure-u-m2-23-24,
.pure-u-m2-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-m2-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-m2-1-12,
.pure-u-m2-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-m2-1-8,
.pure-u-m2-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.pure-u-m2-1-6,
.pure-u-m2-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-m2-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-m2-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-m2-1-4,
.pure-u-m2-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-m2-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-m2-1-3,
.pure-u-m2-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-m2-3-8,
.pure-u-m2-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.pure-u-m2-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-m2-5-12,
.pure-u-m2-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-m2-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-m2-1-2,
.pure-u-m2-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-m2-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-m2-7-12,
.pure-u-m2-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-m2-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-m2-5-8,
.pure-u-m2-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.pure-u-m2-2-3,
.pure-u-m2-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-m2-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-m2-3-4,
.pure-u-m2-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-m2-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-m2-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-m2-5-6,
.pure-u-m2-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-m2-7-8,
.pure-u-m2-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.pure-u-m2-11-12,
.pure-u-m2-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-m2-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-m2-1-1,
.pure-u-m2-1,
.pure-u-m2-5-5,
.pure-u-m2-24-24 {
    width: 100%;
}

.pure-u-l1-1,
.pure-u-l1-1-1,
.pure-u-l1-1-2,
.pure-u-l1-1-3,
.pure-u-l1-2-3,
.pure-u-l1-1-4,
.pure-u-l1-3-4,
.pure-u-l1-1-5,
.pure-u-l1-2-5,
.pure-u-l1-3-5,
.pure-u-l1-4-5,
.pure-u-l1-5-5,
.pure-u-l1-1-6,
.pure-u-l1-5-6,
.pure-u-l1-1-8,
.pure-u-l1-3-8,
.pure-u-l1-5-8,
.pure-u-l1-7-8,
.pure-u-l1-1-12,
.pure-u-l1-5-12,
.pure-u-l1-7-12,
.pure-u-l1-11-12,
.pure-u-l1-1-24,
.pure-u-l1-2-24,
.pure-u-l1-3-24,
.pure-u-l1-4-24,
.pure-u-l1-5-24,
.pure-u-l1-6-24,
.pure-u-l1-7-24,
.pure-u-l1-8-24,
.pure-u-l1-9-24,
.pure-u-l1-10-24,
.pure-u-l1-11-24,
.pure-u-l1-12-24,
.pure-u-l1-13-24,
.pure-u-l1-14-24,
.pure-u-l1-15-24,
.pure-u-l1-16-24,
.pure-u-l1-17-24,
.pure-u-l1-18-24,
.pure-u-l1-19-24,
.pure-u-l1-20-24,
.pure-u-l1-21-24,
.pure-u-l1-22-24,
.pure-u-l1-23-24,
.pure-u-l1-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-l1-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-l1-1-12,
.pure-u-l1-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-l1-1-8,
.pure-u-l1-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.pure-u-l1-1-6,
.pure-u-l1-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-l1-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-l1-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-l1-1-4,
.pure-u-l1-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-l1-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-l1-1-3,
.pure-u-l1-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-l1-3-8,
.pure-u-l1-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.pure-u-l1-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-l1-5-12,
.pure-u-l1-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-l1-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-l1-1-2,
.pure-u-l1-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-l1-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-l1-7-12,
.pure-u-l1-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-l1-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-l1-5-8,
.pure-u-l1-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.pure-u-l1-2-3,
.pure-u-l1-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-l1-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-l1-3-4,
.pure-u-l1-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-l1-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-l1-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-l1-5-6,
.pure-u-l1-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-l1-7-8,
.pure-u-l1-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.pure-u-l1-11-12,
.pure-u-l1-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-l1-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-l1-1-1,
.pure-u-l1-1,
.pure-u-l1-5-5,
.pure-u-l1-24-24 {
    width: 100%;
}

.pure-u-l2-1-1,
.pure-u-l2-1,
.pure-u-l2-1-2,
.pure-u-l2-1-3,
.pure-u-l2-2-3,
.pure-u-l2-1-4,
.pure-u-l2-3-4,
.pure-u-l2-1-5,
.pure-u-l2-2-5,
.pure-u-l2-3-5,
.pure-u-l2-4-5,
.pure-u-l2-5-5,
.pure-u-l2-1-6,
.pure-u-l2-5-6,
.pure-u-l2-1-8,
.pure-u-l2-3-8,
.pure-u-l2-5-8,
.pure-u-l2-7-8,
.pure-u-l2-1-12,
.pure-u-l2-5-12,
.pure-u-l2-7-12,
.pure-u-l2-11-12,
.pure-u-l2-1-24,
.pure-u-l2-2-24,
.pure-u-l2-3-24,
.pure-u-l2-4-24,
.pure-u-l2-5-24,
.pure-u-l2-6-24,
.pure-u-l2-7-24,
.pure-u-l2-8-24,
.pure-u-l2-9-24,
.pure-u-l2-10-24,
.pure-u-l2-11-24,
.pure-u-l2-12-24,
.pure-u-l2-13-24,
.pure-u-l2-14-24,
.pure-u-l2-15-24,
.pure-u-l2-16-24,
.pure-u-l2-17-24,
.pure-u-l2-18-24,
.pure-u-l2-19-24,
.pure-u-l2-20-24,
.pure-u-l2-21-24,
.pure-u-l2-22-24,
.pure-u-l2-23-24,
.pure-u-l2-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-l2-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-l2-1-12,
.pure-u-l2-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-l2-1-8,
.pure-u-l2-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.pure-u-l2-1-6,
.pure-u-l2-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-l2-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-l2-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-l2-1-4,
.pure-u-l2-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-l2-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-l2-1-3,
.pure-u-l2-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-l2-3-8,
.pure-u-l2-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.pure-u-l2-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-l2-5-12,
.pure-u-l2-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-l2-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-l2-1-2,
.pure-u-l2-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-l2-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-l2-7-12,
.pure-u-l2-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-l2-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-l2-5-8,
.pure-u-l2-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.pure-u-l2-2-3,
.pure-u-l2-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-l2-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-l2-3-4,
.pure-u-l2-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-l2-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-l2-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-l2-5-6,
.pure-u-l2-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-l2-7-8,
.pure-u-l2-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.pure-u-l2-11-12,
.pure-u-l2-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-l2-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-l2-1-1,
.pure-u-l2-1,
.pure-u-l2-5-5,
.pure-u-l2-24-24 {
    width: 100%;
}